body {
    /*We could have the background change by page*/
    background: url('https://upload.wikimedia.org/wikipedia/commons/b/b4/Fly_fishing_Sturgeon_River%2C_Upper_Michigan.jpg') no-repeat center center fixed;
    background-size: cover;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.home-container {
    color: white;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

.test-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.page-logo {
  height: 200px;
}

.button-link {
    background-color: transparent;
    border: 3px solid white;
    border-radius: 5px;
    height: 30px;
    width: 105px;
}

.test-image {
  height: 100px;
  width: 100px;
  margin: 25px;
  border-radius: 50%;
  border: 2px black solid;
}
