/* Fonts
font-family: 'Kalam', cursive;
font-family: 'Caveat', cursive;
font-family: 'Marck Script', cursive;
font-family: 'Reenie Beanie', cursive;
*/

body {
    /*We could have the background change by page*/
    color: white;
    background: url('river3.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Caveat', cursive;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1.5em;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.home-container {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

.test-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page-logo {
  height: 300px;
  width: 200px;
}

.title-text {
  display: flex;
  align-items: center;
}

.button-link {
    background-color: transparent;
    color: white;
    border: 3px solid white;
    border-radius: 5px;
    height: 30px;
    width: 100%;
}

.test-image {
  height: 100px;
  width: 100px;
  margin: 25px;
  border-radius: 50%;
  border: 2px black solid;
}

.bug-image {
  height: 100px;
  width: 200px;
  margin: 25px;
  border-radius: 3px;
  border: 2px black solid;
}
